<%= form_for(@quarto) do |f| %>
  <% if @quarto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quarto.errors.count, "error") %> prohibited this quarto from being saved:</h2>

      <ul>
      <% @quarto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :localizacao %><br />
    <%= f.text_field :localizacao %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
