<h1>Lista de Quartos</h1>

<table border="1">
  <tr>
    <th>Titulo</th>
    <th>Localizacao</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quartos.each do |quarto| %>
  <tr>
    <td><%= quarto.titulo %></td>
    <td><%= quarto.localizacao %></td>
    <td><%= quarto.descricao %></td>
    <td><%= link_to 'Visualizar', quarto %></td>
    <td><%= link_to 'Editar', edit_quarto_path(quarto) %></td>
    <td><%= link_to 'Deletar', quarto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Quarto', new_quarto_path %>
